<!-- Sidebar  -->
<div>
    <div class="iq-sidebar-logo d-flex justify-content-between">
        <a routerLink="/404">
            <img src="assets/images/logo.png" class="img-fluid" alt="">
    <a routerLink="/dashboard/home"><span> Sah'TECH</span>  </a>        
        </a>
        <div class="iq-menu-bt-sidebar">
            <div class="iq-menu-bt align-self-center">
                <div class="wrapper-menu">
                    <div class="main-circle"><i class="ri-more-fill"></i></div>
                    <div class="hover-circle"><i class="ri-more-2-fill"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div id="sidebar-scrollbar">
        <nav class="iq-sidebar-menu">
            <ul class="iq-menu">
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Dashboard</span></li>
                <li class="active">
                    <a routerLink="/dashboard/home" class="iq-waves-effect"><i class="ri-hospital-fill"></i><span>Doctor
                            Dashboard</span></a>
                </li>
                <li class="iq-menu-title"><i class="ri-subtract-line"></i><span>Apps</span></li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-mail-open-fill"></i><span>Email</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="app//404"><i class="ri-inbox-fill"></i>Inbox</a></li>
                        <li><a routerLink="404"><i class="ri-edit-2-fill"></i>Email Compose</a></li>
                    </ul>
                </li>
                <li>
                    <a routerLink="javascript:void(0);" class="iq-waves-effect"><i
                            class="ri-user-3-fill"></i><span>Patients</span><i
                            class="ri-arrow-right-s-line iq-arrow-right"></i></a>
                    <ul class="iq-submenu">
                        <li><a routerLink="/patientprofiles"><i class="ri-file-list-fill"></i>All Patients</a></li>
                        <li><a routerLink="/editpatientprofile"><i class="ri-user-add-fill"></i> Add Patient</a></li>
                        <li><a routerLink="/patient"><i class="ri-profile-fill"></i>Patient Profile</a></li>
                        <li><a routerLink="/managebookings"><i class="fa fa-calendar"></i> Bookins List</a></li>
                    </ul>
                </li>
                <li><a routerLink="/calendar" class="iq-waves-effect"><i
                            class="ri-calendar-event-fill"></i><span>Calendar</span></a></li>
                            <li><a routerLink="/chat" class="iq-waves-effect"><i class="ri-chat-4-fill"></i><span>Chat</span></a>
                            </li>
            

                <li><a routerLink="/post" class="iq-waves-effect"><i class=" ri-file-text-fill"></i><span>Post</span></a> 
                </li>
                <li><a routerLink="/subscription" class="iq-waves-effect"><i class="fa fa-credit-card-alt"></i><span>Subscription</span></a>




            </ul>
        </nav>
        <div class="p-3"></div>
    </div>
</div>