<form class="body form-background" [formGroup]="registerForm" (ngSubmit)="submitDetails()">
  <p-card header="Register" [style]="{ width: '360px' }" class="register-card">
    <div class="field">
      <input
        type="text"
        pInputText
        formControlName="phone"
        class="w-full field-input"
        name="phone"
        placeholder="Type your phone number"
      />
      <small *ngIf="phone.invalid && (phone.dirty || phone.touched)" class="block p-error">
        <div *ngIf="phone.errors?.['required']">Phone is required.</div>
      </small>
    </div>
    <div class="field">
      <input
        type="text"
        pInputText
        formControlName="email"
        class="w-full field-input"
        name="email"
        placeholder="Type your email"
      />
      <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
        <div *ngIf="email.errors?.['required']">Email is required.</div>
        <div *ngIf="email.errors?.['email']">Email should be valid.</div>
      </small>
    </div>
    <div class="field">
      <input
        type="text"
        pInputText
        formControlName="username"
        class="w-full field-input"
        name="username"
        placeholder="Type your full name"
      />
      <small *ngIf="username.invalid && (username.dirty || username.touched)" class="block p-error">
        <div *ngIf="username.errors?.['required']">Full Name is required.</div>
      </small>
    </div>
    <div class="field">
      <input
        type="password"
        pInputText
        formControlName="password"
        class="w-full field-input"
        name="password"
        placeholder="Type your password"
      />
      <small *ngIf="password.invalid && (password.dirty || password.touched)" class="block p-error">
        <div *ngIf="password.errors?.['required']">Password is required.</div>
      </small>
    </div>
    <div class="field">
      <br />
      <p-dropdown
        [options]="dropdownValues"
        formControlName="specialty"
        placeholder="Select your specialty"
        class="w-full field-input"
      ></p-dropdown>
      <small *ngIf="specialty.invalid && (specialty.dirty || specialty.touched)" class="block p-error">
        <div *ngIf="specialty.errors?.['required']">Specialty is required.</div>
      </small>
    </div>
    <p-button
      label="Register"
      styleClass="w-full register-button"
      [disabled]="registerForm.invalid"
      type="submit"
    ></p-button>
    <div class="mt-2 login-link">Already a member? <a routerLink="/login">Login</a></div>
  </p-card>
</form>
