<nav class="navbar navbar-expand-md fixed-top navbar-dark flex-fill">
  <!-- Sidebar toggler -->
  <div class="navbar-header pl-2 pr-2 ml-3 text-center">
    <a class="navbar-brand m-0 w-100" href="#">
      <img src="assets/images/logo.png" alt="lightning logo" width="35px">
      <span class="ml-1">Sah'Tech</span>
    </a>
  </div>
  <!-- Sidebar toggler button for small screens -->
  <!-- Right menu toggler button for small screens -->

  <!-- Left search bar and sidebar toggle button -->
  <ul class="navbar-nav flex-fill mt-1 align-items-center left-nav">
    <li class="nav-item flex-fill">
      <input class="form-control navbar-search" type="text" placeholder="Search . . .">
    </li>
  </ul>
  <!-- Right menu items -->
  <div class="collapse navbar-collapse right-nav" id="collapseBasic">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="btn nav-link">
          <i class="mdi mdi-bell"></i>
          <span class="link-text">Alerts</span>
          <span class="nav-alert notifications"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link">
          <i class="mdi mdi-email"></i>
          <span class="link-text">Messages</span>
          <span class="nav-alert messages"></span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link">
          <i class="mdi mdi-account"></i>
          <span class="link-text">Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="btn nav-link">
          <i class="mdi mdi-cog"></i>
          <span class="link-text">Setting</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
