<div class="post">
    <div class="post-header">
        <img class="profile-picture" src="assets/images/profile-picture.jpg" alt="Profile Picture">
        <div class="author-details">
            <a class="author-name" href="#">Merry Watson</a>
            <span class="post-time">20 min ago</span>
        </div>
        <button class="post-options">...</button>
    </div>
    <div class="post-content">
        <p>
            Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, 
            and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        </p>
        <img class="post-image" src="assets/images/post-image.jpg" alt="Post Image">
    </div>
    <div class="post-actions">
        <button class="action-button"><i class="fas fa-thumbs-up"></i> Like</button>
        <button class="action-button"><i class="fas fa-comment"></i> Comment</button>
        <button class="action-button"><i class="fas fa-share"></i> Share</button>
    </div>
</div>
