<div class="wrapper">
  <hospital-sidenav class="iq-sidebar"></hospital-sidenav>
  <div id="content-page" class="content-page">
    <hospital-navbar></hospital-navbar>
    <div class="page-content page-container" id="page-content">
      <div class="padding">
        <div class="row container d-flex justify-content-center">
          <div class="col-xl-8 col-md-12"> <!-- Changed col-xl-6 to col-xl-8 -->
            <div class="card user-card-full">
              <div class="row m-l-0 m-r-0">
                <div class="col-sm-4 bg-c-lite-green user-profile">
                  <div class="card-block text-center text-white">
                    <div class="m-b-25">
                      <img [src]="userdetails.image" class="img-radius" alt="User-Profile-Image">
                    </div>
                    <h6 class="f-w-600">{{userdetails.email}}</h6>
                    <p>patient</p>
                    <i class="mdi mdi-square-edit-outline feather icon-edit m-t-10 f-16"></i>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="card-block">
                    <h6 class="m-b-20 p-b-5 b-b-default f-w-600">Information</h6>
                    <div class="row">
                      <div class="col-sm-12">
                        <p class="m-b-10 f-w-600">Email</p>
                        <h6 class="text-muted f-w-400">{{userdetails.username}}</h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Phone</p>
                        <h6 class="text-muted f-w-400">{{userdetails.phone}}</h6>
                      </div>
                      <div class="col-sm-6">
                        <p class="m-b-10 f-w-600">Date of birth</p>
                        <h6 class="text-muted f-w-400">{{userdetails.dateOfBirth}}</h6>
                      </div>
                    </div>
                    <!-- Add form for secret key and submit button -->
                    <div class="row m-t-40">
                      <div class="col-sm-12">
                        <form (ngSubmit)="onSubmit()">
                          <div class="form-group">
                            <label for="secret-key" class="f-w-300">Secret Key</label>
                            <input type="text" class="form-control" id="secret-key" [(ngModel)]="secretKey" name="secretKey" placeholder="Enter the secret key">
                          </div>
                          <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                      
                      </div>

                    </div>
                    <!-- End of form -->
                    
                  </div>
                  
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
      <div class="row container d-flex justify-content-center">
  <div class="col-xl-12 col-md-12">
    <div class="card">
      <div class="card-header">
        <h3 class="d-inline-block">Medical History</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <!-- Assuming filePaths is an array of URLs for medical document images -->
          <div class="col-md-4" *ngFor="let post of filePaths; let i = index">
            <div class="row">
              <div class="col">
                <!-- Displaying the medical document image -->
                <img [src]="filePaths[i]" alt="Medical Image" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
</div>
  <!-- <form>
                              <div class="form-group">
                            <label for="medical-document" class="f-w-600">Upload Medical Document</label>
                            <input type="file" class="form-control" id="medical-document">
                          </div>
                        </form> -->