<!-- add-patient-profil.component.html -->
<div class="wrapper">
  <hospital-sidenav class="iq-sidebar" />
      <div id="content-page" class="content-page">
 <hospital-navbar />
<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5">
        <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
        <span class="font-weight-bold"> Add Patient </span><span class="text-black-50">email</span><span> </span>
      </div>
    </div>
    <div class="col-md-5 border-right">
      <form (ngSubmit)="onSubmit()">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Add Patient Profile</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label class="labels">Full Name</label>
              <input type="text" [(ngModel)]="profile.email" name="fullName" class="form-control" placeholder="first name">
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-md-12">
              <label class="labels">Mobile Number</label>
              <input type="text" [(ngModel)]="profile.phone" name="mobileNumber" class="form-control" placeholder="enter phone number">
            </div>
            <div class="col-md-12">
              <label class="labels">Date of birth</label>
              <input type="text" [(ngModel)]="profile.cin" name="dob" class="form-control" placeholder="enter your date of birth">
            </div>
            <div class="col-md-12">
              <label class="labels">Email</label>
              <input type="text" [(ngModel)]="profile.username" name="email" class="form-control" placeholder="enter email id">
            </div>
            <div class="col-md-12">
              <label class="labels">Password</label>
              <input type="text" [(ngModel)]="profile.password" name="password" class="form-control" placeholder="enter Password">
            </div>
          </div>
          <div class="mt-5 text-center">
            <button class="btn btn-primary profile-button" type="submit">Save Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

</div>
</div>